<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
</head>
<style>
    div{
        background-color: white;
    }
    h1{
    text-align: center;
}
div{
    display: flex;
    width: 30%;
    margin: 0 auto;

}
</style>
<body>
    <h1>Edit <%= show.showName %></h1>
    <div>
        <form action="/shows/<%= show._id %>/?_method=PUT" method="post">
            <label>Show Name:<input type="text" name="showName" value="<%=show.showName %>" ></label><br>
            <label> Year Completed:<input type="text" name="yearCompleted" value="<%=show.yearCompleted %>"></label><br>
            <label> Number of Stars:<input type="number" name="Rating" value="<%=show.Rating %>" max="5" min="1"></label><br>
            <label> Image Url:<input type="text" name="showImg" value="<%= show.showImg %>"></label><br>
            <label> wouldRecommend:<input type="checkbox" name="wouldRecommend" ></label>
            <input type="submit">
        </form>
    </div>
</body>
</html>