<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
</head>
<body>
    <h1>Edit time</h1>
    <form action="/shows/<%= show._id %>/?_method=PUT" method="post">
        <input type="text" name="showName" placeholder="<%=show.showName %>" required>
        <input type="text" name="yearCompleted" placeholder="<%=show.yearCompleted %>">
        <input type="text" name="Rating" placeholder="<%=show.Rating %>">
        <input type="checkbox" name="wouldRecommend" <% if (show.wouldRecommend === true){ %>
        <% } %> checkbox>
        <input type="submit">
        
    </form>
</body>
</html>