<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
</head>
<style>
    div{
        background-color: white;
    }
</style>
<body>
    <h1>Edit <%= show.showName %></h1>
    <div>
        <form action="/shows/<%= show._id %>/?_method=PUT" method="post">
            <label>Show Name:<input type="text" name="showName" value="<%=show.showName %>" ></label>
            <label> Year Completed:<input type="text" name="yearCompleted" value="<%=show.yearCompleted %>"></label>
            <label> Number of Stars:<input type="text" name="Rating" value="<%=show.Rating %>"></label>
            <input type="text" name="showImg" value="<%= show.showImg %>">
            <input type="checkbox" name="wouldRecommend" >
            <input type="submit">
        </form>
    </div>
</body>
</html>